h1,
.h1 {
  font-size: $font-size-h1;
}

h2,
.h2 {
  font-size: $font-size-h2;
}

h3,
.h3 {
  font-size: $font-size-h3;
}

h4,
.h4 {
  font-size: $font-size-h4;
}

h5,
.h5 {
  font-size: $font-size-h5;
}

h6,
.h6 {
  font-size: $font-size-h6;
}

.logo {
  margin: 0;
}

.liveicon {
  display: inline-block;
  width: 22px;
  height: 22px;
  vertical-align: middle;
  background: url(../assets/ued-icon.png) no-repeat;

  &.liveicon-profile {
    background: url(../assets/u_nav_icon.png) no-repeat;
  }
  &.liveicon-follow {
    background-position: -105px -66px;
  }
  &.liveicon-setting {
    background-position: -291px -634px;
  }
  &.liveicon-online {
    width: 18px;
    height: 18px;
    background-position: -50px -458px;
  }
  &.liveicon-cate {
    width: 18px;
    height: 18px;
    background-position: -50px -484px;
  }
}

.add-back {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $border-color-primary;
  width: 100%;
  font-size: 14px;
  padding-top: 5px;
  &>* {
    cursor: pointer !important;
  }
}

form {
  width: 400px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  word-break: keep-all;
}

@keyframes scale-in-ease {
  0% {
    opacity: 0;
    transform: scale(0)
  }
  50% {
    transform: scale(1.1)
  }
  100% {
    opacity: 1;
    transform: scale(1)
  }
}

@keyframes scale-out {
  from {
    opacity: 1;
    transform: scale(1)
  }
  to {
    opacity: 0;
    transform: scale(.8)
  }
}
